/* Include Tailwind's default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.active-preview {
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.6);
}

.preview-fade {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Darker color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
