/* Include Tailwind's default styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2)
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.active-preview {
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.6);
}

.preview-fade {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.3s ease-in-out forwards;
}

.search-container {
  display: flex;
  overflow: hidden; /* Ensures rounded corners apply to the inner elements */
  border: 2px solid #1db954;
  border-radius: 999px; /* Makes it fully rounded */
  background: white;
}

.search-input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  outline: none;
}

.search-button {
  border: none;
  background: #1db954;
  color: white;
  padding: 10px 20px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Darker color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
